{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block title%}
    Profile
{% endblock %}

{% block main %}
    <div class="section">
        <h2>Wallet</h2>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for quote in user_quotes %}
                    <tr>
                        <td>{{ quote[0] }}</td>
                        <td>{{ quote[1] }}</td>
                        <td>{{ quote[2] }}</td>
                        <td>{{ quote[3] }}</td>
                        <td>{{ quote[4] }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td>Cash</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ cash }}</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{ total }}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}